*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    color: rgba(0, 0, 0, 0,87);
}

.header-container {
    min-height: 65px;
}

.nav__links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.links-container {
    padding: 1.5rem 1.8rem;
    display: flex;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav__links img {
    width: 30px;
    height: 30px;
}



.nav__links li {
    list-style: none;
    display: inline-block;
    font-size: 13px;
    padding-right: 15px;
    
}

.image-container {
    margin-top: 89px;
    height: 233px;
}

.logo {
    width: 272px;
    height: 92px;
    margin: 0 auto;
    display: block;
    margin-top: 8rem;
} 

